.App {
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-whisper);
}

.Loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

.Button {
    width: fit-content;
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(147,118,238);
    background-color: linear-gradient(85deg, rgba(147,118,238,1) 26%, rgba(140,122,203,1) 92%);
    color: var(--clr-whisper);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    font-size: 1rem;
    font-weight: 500;

}

.Button svg {
    margin-inline: -2px;
}

.Button:hover {
    background-color: transparent;
    border: 2px solid var(--clr-ube);
    color: var(--clr-mineshaft);
    padding: 8px 12px;
}

.Chat {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Chat header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(15px);
}

.Chat header .Github {
    background-color: transparent;
    color: var(--clr-mineshaft);
    border-radius: 0;
}

.Chat header .Github:hover {
    border-bottom: ;
}

.Messages {
    font-family: 'Poppins', sans-serif;
}