.App {
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to left bottom,
    #8c7acb,
    #8e79d4,
    #8f78dd,
    #9177e5,
    #9376ee
  );
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

.Button {
  width: fit-content;
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(
    to left bottom,
    #8c7acb,
    #8e79d4,
    #8f78dd,
    #9177e5,
    #9376ee
  );
  color: var(--clr-whisper);
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  transition: color 0.5s, background-image 0.5s;
  font-size: 1rem;
  font-weight: 500;
}

.Button svg {
  margin-inline: -2px;
}

.Button:hover {
  background: transparent;
  border: 2px solid var(--clr-ube);
  color: var(--clr-mineshaft);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
}

.Chat {
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Chat header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-inline: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(5px);
}

.Chat header .Github {
  background-image: none;
  color: var(--clr-mineshaft);
}

.Chat header .Github:hover {
  color: var(--clr-whisper);
  padding: 10px 14px;
  border: none;
  box-shadow: none;
}

.Messages {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1;
  padding-inline: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(5px);
}

.Messages #top {
  flex: 1 1;
}

.Message {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.Message img {
  user-select: none;
  width: 45px;
  height: 45px;
  border-radius: 100vmax;
}

.Message .Button {
  padding: 0;
  order: 2;
  width: 35px;
  height: 35px;
  border-radius: 100vmax;
  align-self: center;
}

.Text {
  max-width: min(650px, calc(100% - 88px));
  position: relative;
  padding: 9px 14px;
  align-self: center;
  background-color: var(--clr-portage);
  color: var(--clr-whisper);
  border-radius: 20px 20px 20px 0;
}

.Text p {
  word-break: break-word;
  line-height: 1.35;
}

.Text p::after {
  content: '';
  width: 40px;
  display: inline-block;
}

.Text p .Time {
  position: absolute;
  right: 14px;
  bottom: 9px;
  display: inline-block;
  font-size: 13px;
  color: var(--clr-mineshaft);
  user-select: none;
}

.Message.sent {
  justify-content: flex-end;
}

.Message.sent .Text {
  max-width: min(650px, calc(100% - 132px));
  order: -1;
  border-radius: 20px 20px 0 20px;
}

.Message.sent .Button {
  order: -2;
}

.Form {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Form input {
  padding: 10px 16px;
  flex: 1 1;
  border-radius: 100vmax;
  color: var(--clr-mineshaft);
  font-size: 15px;
  transition: color 0.2s, opacity 0.5s;
}

.Form input:focus {
  color: var(--clr-mineshaft);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.Form input:disabled {
  opacity: 0.7;
}

.Form .Button {
  border-radius: 100vmax;
}

@media (max-width: 524px) {
  .Chat header {
    margin: -1rem;
    padding-inline: .8rem;
    margin-bottom: 0px;
    border-radius: 0 0 1rem 1rem;
  }
  .Chat header .Button {
    font-size: .8rem;
  }
}